/* HEADER  */

.cabecalho {
    width: 1146px;
    height: 68px;
    left: 0px;
    top: 0px;
    
    background: #FDF1EB;
}

.texto-1{

    width: 391px;
    height: 16px;
    left: 36px;
    top: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #725C5C;

}

.texto-2 {

    width: 643px;
    height: 26px;
    left: 36px;
    top: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;


    color: #725C5C;
}

.texto-3 {
    width: 105px;
    height: 16px;
    left: 36px;
    top: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #725C5C;

}
.idioma {
    width: 97px;
    height: 34px;
    left: 789px;
    top: 17px;
    text-align: center;
    border: 3px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;

    }

.bem-vindo {

    width: 72px;
    height: 18px;
    left: 999px;
    top: 17px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;


    text-align: right;

    color: #333333;

}
.email {
    width: 163px;
    height: 15px;
    left: 908px;
    top: 36px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
 

    text-align: right;

    color: #333333;

}
.foto-perfil {
    left: 93.28%;
    right: 2.53%;
    top: 27.94%;
    bottom: 27.94%;
    border-radius: 100%;
    height: 30px;
    width: 48px;
    top: 19px;
    text-align: right;
    border-radius: 100%;
    
    

color: #333333;
}







/* NAVEGAÇÃO */
.retangulo {
    width: 220px;
    height: 68px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);

}
.slaca {

    left: 9.09%;
    right: 10%;
    top: 0%;
    bottom: 0%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}


.sidebar {
    height: 2508px;
    width: 220px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -47.44%;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.apresentacao {
    left: 10.91%;
    right: 44.09%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #725C5C;
}

.comites {
    left: 10.91%;
    right: 62.73%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
  
    
    color: #725C5C;
}

.autores {
    left: 10.91%;
    right: 64.09%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #725C5C;
}
.eixos-tematicos {
   
    left: 10.91%;
    right: 39.09%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    
    
    color: #725C5C;
}
.trabalhos {
    left: 13.18%;
    right: 54.55%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    
    color: #725C5C;
}
.contato {
    left: 10.91%;
    right: 62.73%;
    top: 20%;
    bottom: 25.71%;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #725C5C;
    
}

/* CONTEUDO PRINCIPAL */

.texto-analise {
    height: 54px;
    left: 0px;
    right: 273px;
    top: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
/* or 125% */

    letter-spacing: 0.05em;

    color: #ED7839;
}
.citacao {

    height: 25px;
    left: 820px;
    right: 0px;
    top: 43px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;

    text-align: left;
    letter-spacing: 0.05em;

    color: #ED7839;

}
.download {
    

    height: 31px;
    width: 120px;
    left: 842px;
    top: 0px;
    border-radius: 4px;

    left: 79.51%;
    right: 9.16%;
    top: 0%;
    bottom: 97.76%;

    background: #ED7839;
    border-radius: 4px;
}
.download-texto {
   
    left: 36px;
    right: 12px;
    top: calc(50% - 19px/2);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Grayscale-white */
    
    color: #FFFFFF;
    
    border-radius: 4px;   
}
.fonte-texto {
    width: 212px;
    left: 831px;
    top: 84px;
    bottom: 1273px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    display: flex;
    align-items: center;
    }
.background {
    width: 242px;
    height: 45px;
    left: 816px;
    top: 73px;
    
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.scroll {
    width: 212px;
    height: 364px;
    left: 831px;
    top: 133px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    letter-spacing: 0.02em;

    color: #5C5C5C;
}

.video {
    
    width: 783px;
    height: 439px;
    left: 2px;
    top: 73px;
    background: rgba(141, 53, 6, 0.5);
    border-radius: 3px;
    display: flex;
    
}
.botoes {
    left: 91.31%;
    right: 4.63%;
    top: 0%;
    bottom: 97.76%;
    
    background: #ED7839;
    border-radius: 4px;
}

.resumo {
    width: 1028px;
    left: 15px;
    top: 552px;
    bottom: 805px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    
    display: flex;
    align-items: center;
    
    color: #4E4E4E;

}
.resumo2 {
    width: 1127px;
    height: 45px;
    left: 0px;
    top: 542px;
    
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.btn-doi {   
height: 30px;
width: 19px; 
}